<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="semantic/semantic.min.css">
    <script src="jquery-3.6.3.min.js"></script>
    <script src="semantic/semantic.min.js"></script>
</head>
<body>
<div class="page-header">
    <h1>A Website</h1>
</div>

<div class="sidebar_" th:include="sidebar :: sidebar"></div>

<div class="body">

</div>
<script src="general_after.js"></script>
<div th:if="${error_id != null}">
<script>
    console.log("login error")

    var err_id = [[${error_id}]]

    console.log("err_id  " + err_id.toString())

    switch (err_id){
        case 0: wrong_loginfo();break;
        case 1: account_exist();break;
        case 2: invalid_password();break;
        case 3: invalid_email();break;
        case 4: wrong_password_emailAuth();break;
        case 5: need_login();break;
    }


</script>
</div>


</body>
</html>