<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div id="music_player_container" class="music-player-container">
    <div class="ui small top attached progress" id="music_progress">
        <div class="bar"></div>
    </div>
    <div class="music-player-controlbox">
        <div class="music-player-info">
            <div class="music-player-image">
                <img src="/image/0">
            </div>
            <div class="music-player-infotext">
                <div id="music_player_title" class="music-player-title">
                    Song 1
                </div>
                <div id="music_player_vocal" class="music-player-vocal">
                    Artist 1
                </div>
            </div>

        </div>
        <div class="music-player-control">
            <div class="music-player-previous">
                <button id="music_player-previous" class="ui circular icon button">
                    <i class="backward icon"></i>
                </button>
            </div>
            <div id="music_player_play" class="music-player-play">
                <button class="ui circular big icon button">
                    <i class="play icon"></i>
                </button>
            </div>
            <div id="music_player_pause" class="music-player-play">
                <button class="ui circular big icon button">
                    <i class="pause icon"></i>
                </button>
            </div>
            <div class="music-player-next">
                <button id="music_player_next" class="ui circular icon button">
                    <i class="forward icon"></i>
                </button>
            </div>
        </div>
        <div class="music-player-button">
            <div class="music-player-time">
                <div id="music_player_current" class="music-player-currenttime">
                    0:00
                </div>
                <div class="music-player-split">
                    &nbsp;/&nbsp;
                </div>
                <div id="music_player_duration" class="music-player-duration">
                    0:00
                </div>
            </div>
            <div class="music-player-volume">
                <div id="music_player_volume" class="ui small progress">
                    <div class="bar"></div>
                </div>
            </div>
            <div class="music-player-random">
                <button id="music_player_random" class="ui circular icon button">
                    <i class="random icon"></i>
                </button>
            </div>
            <div class="music-player-single">
                <button id="music_player_single" class="ui circular icon button">
                    <i class="repeat icon"></i>
                </button>
            </div>
            <div class="music-player-loop">
                <button id="music_player_loop" class="ui disabled circular icon button">
                    <i class="retweet icon"></i>
                </button>
            </div>
            <div class="music-player-add">
                <button id="music_player_add" class="ui floating dropdown circular icon button">
                    <i class="plus icon"></i>
                    <div id="music_player_musiclists" class="menu">
                        <div class="item">
                            Musiclist 1
                        </div>
                        <div class="item">
                            Musiclist 2
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <audio id="music_player" controls>
        <source src="/music_player/3" type="audio/aac">
    </audio>
</div>
<script>
    const music_player = $("#music_player")[0];
    const music_progress = $("#music_progress");
    const music_volume = $("#music_player_volume");

    $(".music-player-volume .ui.progress").progress({
        percent: 99
    });
    $("#music_player_add").dropdown()
    $("#music_player_play").click(() => {
        music_player.play()
        $("#music_player_play").hide()
        $("#music_player_pause").show()
    });
    $("#music_player_pause").click(() => {
        music_player.pause()
        $("#music_player_pause").hide()
        $("#music_player_play").show()
    });


    music_progress.hover(() => {
        music_progress.css("height", "7px")
        $("#music_player_container").css("height", "84px")
    }, () => {
        music_progress.css("height", "3px")
        $("#music_player_container").css("height", "80px")
    });
    music_progress.mousedown((event) => {
        if (!isAdjustingTime){
            isAdjustingTime = true;
            music_player.pause()
        }
        //change the progress
        music_progress.progress({
            percent: (event.clientX - music_progress.offset().left) / music_progress.width() * 100
        })
        //change the current time
        music_player.currentTime = music_player.duration * music_progress.progress("get percent") / 100
        $("#music_player_current").html(formatTime(music_player.currentTime))
    })
    music_progress.mousemove((event) => {
        if (isAdjustingTime) {
            //change the progress
            music_progress.progress({
                percent: (event.clientX - music_progress.offset().left) / music_progress.width() * 100
            })
            //change the current time
            music_player.currentTime = music_player.duration * music_progress.progress("get percent") / 100
            $("#music_player_current").html(formatTime(music_player.currentTime))
        }
    })
    music_progress.mouseleave((event) => {
        if (isAdjustingTime){
            isAdjustingTime = false;
            music_player.play()
        }
    })
    music_progress.mouseup(() => {
        if (isAdjustingTime){
            isAdjustingTime = false;
            music_player.play()
        }
    })

    //change volume
    music_volume.mousedown((event) => {
        if (!isAdjustingVolume){
            isAdjustingVolume = true;
        }
        //change the progress
        music_volume.progress({
            percent: (event.clientX - music_volume.offset().left) / music_volume.width() * 100
        })
        //change the volume
        music_player.volume = $(".music-player-volume .ui.progress").progress("get percent") / 100
    })
    music_volume.mousemove((event) => {
        if (isAdjustingVolume) {
            //change the progress
            music_volume.progress({
                percent: (event.clientX - music_volume.offset().left) / music_volume.width() * 100
            })
            //change the volume
            music_player.volume = music_volume.progress("get percent") / 100
        }
    })
    music_volume.mouseleave((event) => {
        if (isAdjustingVolume){
            isAdjustingVolume = false;
        }
    })
    music_volume.mouseup(() => {
        if (isAdjustingVolume){
            isAdjustingVolume = false;
        }
    })

    music_player.addEventListener('ended', () => {
        playNextMusic()
    })

    //change sequence to random
    $("#music_player_random").click(() => {
        playSequence = 1;
        //random button is selected
        $("#music_player_random").addClass("disabled")
        //loop and single button is not selected
        $("#music_player_loop").removeClass("disabled")
        $("#music_player_single").removeClass("disabled")
    })
    //change sequence to loop
    $("#music_player_loop").click(() => {
        playSequence = 0;
        //loop button is selected
        $("#music_player_loop").addClass("disabled")
        //random and single button is not selected
        $("#music_player_random").removeClass("disabled")
        $("#music_player_single").removeClass("disabled")
    })
    //change sequence to single
    $("#music_player_single").click(() => {
        playSequence = 2;
        //single button is selected
        $("#music_player_single").addClass("disabled")
        //random and loop button is not selected
        $("#music_player_random").removeClass("disabled")
        $("#music_player_loop").removeClass("disabled")
    })

    //next music
    $("#music_player_next").click(() => {
        playNextMusic()
    })

    //previous music
    $("#music_player_previous").click(() => {
        playPreviousMusic()
    })


    //show user's music list
    $("#music_player_add").click((e) => {
        // const target = e.target;
        // if (target.tagName === "I"){
        //     showMusiclist_addButton(target.parent())
        // }else if (target.tagName === "DIV"){
        //     showMusiclist_addButton(target)
        // }
        showMusiclist_addButton($("#music_player_add"))
    })


    //set current time every 1s
    setInterval(() => {
        const music = music_player;
        music_progress.progress({
            percent: music.currentTime / music.duration * 100
        })
        $("#music_player_current").html(formatTime(music.currentTime))
    }, 1000)

</script>
</body>
</html>