<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="general.css">
    <link rel="stylesheet" href="semantic/semantic.min.css">
    <script src="jquery-3.6.3.min.js"></script>
    <script src="semantic/semantic.min.js"></script>
</head>
<body>
<div class="page-header">
    <h1>A Website</h1>
</div>

<div class="sidebar_" th:include="sidebar :: sidebar"></div>

<div class="body">
    <div id="body_container" class="upload-container">
<!--        <form method="post" action="/file" enctype="multipart/form-data">-->
<!--            Select your file：<input type="file" name="file"><br>-->
<!--            <input type="submit" value="Submit">-->
<!--        </form>-->
        <form class="ui form" th:action="@{resource}" method="post" th:object="${resource}" enctype="multipart/form-data" style="width: 100%">
            <div class="inline fields">
                <label>Type: </label>
                <div id="video_selection_container" class="field">
                    <div class="ui radio checkbox">
                        <input id="video_selection_input" type="radio" name="type" tabindex="0" class="hidden" th:field="*{type}" value="1">
                        <label>VIDEO</label>
                    </div>
                </div>
                <div id="music_selection_container" class="field">
                    <div class="ui radio checkbox">
                        <input id="music_selection_input" type="radio" name="type" tabindex="0" class="hidden" th:field="*{type}" value="2">
                        <label>MUSIC</label>
                    </div>
                </div>
            </div>
            <div id="file_container" class="field">
                <label>Select your file：</label>
                <div class="ui action input">
                    <input id="file_input" accept=".mp4, .ogg, .mp3, .wav, .aac, .opus" type="file" name="file" style="display: none">
                    <input id="file_title" readonly>
                    <label for="file_input" class="ui icon button">
                        <i class="upload icon"></i>
                        Upload
                    </label>
                </div>
            </div>
            <div id="title_container" class="field">
                <label>Title</label>
                <input type="text" name="title" th:field="*{title}">
            </div>
            <div id="date_container" class="field">
                <label>Date</label>
                <input type="date" name="date" th:field="*{date}">
            </div>
            <div id="series_container" class="field">
                <label>Series</label>
                <div class="input-container">
                    <div class="ui search selection dropdown" style="width: 85%">
                        <input type="hidden" name="series">
                        <i class="dropdown icon"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="1">Option 1</div>
                            <div class="item" data-value="2">Option 2</div>
                            <div class="item" data-value="3">Option 3</div>
                        </div>
                    </div>
                    <i id="new_series" class="new-item-button big plus square icon"></i>
                </div>

<!--                <input type="text" name="series" th:field="*{series}">-->
            </div>
            <div id="vocal_container" class="field">
                <label>Vocal</label>
                <div class="input-container">
                    <div class="ui multiple search selection dropdown" style="width: 85%">
                        <input type="hidden" name="vocal">
                        <i class="dropdown icon"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="1">Option 1</div>
                            <div class="item" data-value="2">Option 2</div>
                            <div class="item" data-value="3">Option 3</div>
                        </div>
                    </div>
                    <i id="new_vocal" class="new-item-button big plus square icon"></i>
                </div>
            </div>
            <div id="composer_container" class="field">
                <label>Composer</label>
                <div class="input-container">
                    <div class="ui multiple search selection dropdown" style="width: 85%">
                        <input type="hidden" name="composer">
                        <i class="dropdown icon"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="1">Option 1</div>
                            <div class="item" data-value="2">Option 2</div>
                            <div class="item" data-value="3">Option 3</div>
                        </div>
                    </div>
                    <i id="new_composer" class="new-item-button big plus square icon"></i>
                </div>
            </div>
            <div id="lyricist_container" class="field">
                <label>Lyricist</label>
                <div class="input-container">
                    <div class="ui multiple search selection dropdown" style="width: 85%">
                        <input type="hidden" name="lyricist">
                        <i class="dropdown icon"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            <div class="item" data-value="1">Option 1</div>
                            <div class="item" data-value="2">Option 2</div>
                            <div class="item" data-value="3">Option 3</div>
                        </div>
                    </div>
                    <i id="new_lyricist" class="new-item-button big plus square icon"></i>
                </div>
            </div>
            <div id="image_container" class="field">
                <label>Select your Image：</label>
                <div class="ui action input">
                    <input id="image_input" accept="image/aces" type="file" name="image" style="display: none">
                    <input id="image_title" readonly>
                    <label for="image_input" class="ui icon button">
                        <i class="upload icon"></i>
                        Upload
                    </label>
                </div>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>


<script>
    $.ajax({
        method: "post",
        url:"/name",
        data:{},
        dataType:"json",
        success:function (result) {
            console.log(result);
        }
    })
</script>
<script src="general_after.js"></script>
<script src="upload_after.js"></script>
</body>
</html>